<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Conecta Alimentos SJC</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <!-- CABEÇALHO -->
    <header class="navbar">

        <div class="logo-area">

            <div class="logo-icon">🥗</div>

            <div>
                <h1>Conecta Alimentos SJC</h1>
                <span>Fundo Social - Banco de Alimentos</span>
            </div>

        </div>

        <nav>
            <a href="/">Início</a>
            <a href="/cadastrar">Cadastrar Doação</a>
            <a href="/doacoes">Ver Doações</a>
        </nav>

    </header>

    <!-- HERO -->
    <main>

        <section class="hero">

            <div class="hero-text">

                <h2>
                      <br>
                      <br>
                      <br>
                    São José dos Campos contra o
                    <span>desperdício de alimentos</span>
                </h2>

                <p>
                    O Conecta Alimentos SJC conecta restaurantes, supermercados
                    e outros estabelecimentos evitando desperdícios e assim 
                    suprindo a necessidade de pessoas em situação de vulnerabilidade alimentar.
                </p>

                <div class="hero-buttons">

                    <a href="/cadastrar" class="btn-primary">
                        ➕ &nbsp; Cadastrar Doação
                    </a>

                    <a href="/doacoes" class="btn-secondary">
                        🔍 &nbsp; Ver Doações
                    </a>

                </div>

            </div>


            <div class="hero-image">

                <div class="food-box">
                    <br>
                    <br>
                    <br>
                    <div class="vegetables">
                        🥬 🥕 🍅 🍌 🍞
                    </div> <br>

                    <div class="box">
                        <strong>
                            Este site está<br>
                            combatendo a fome<br>
                            em nosso município
                        </strong>

                    </div>

                </div>

            </div>

        </section>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <!-- BENEFÍCIOS -->
        <section class="benefits">

            <div class="benefit">

                <div class="benefit-icon">🚯</div>

                <h3>SJC no combate ao desperdício</h3>

                <p>
                    Aproveitando alimentos que ainda
                    são próprios para consumo
                </p>

            </div>


            <div class="benefit">

                <div class="benefit-icon">💗</div>

                <h3>Solidariedade</h3>

                <p>
                    Conectando quem tem
                    a quem precisa
                </p>

            </div>


            <div class="benefit">

                <div class="benefit-icon">🏪</div>

                <h3>Parcerias</h3>

                <p>
                    Envolvendo restaurantes, mercados e
                    outros estabelecimentos nessa rede solidária
                </p>

            </div>


            <div class="benefit">

                <div class="benefit-icon">🥗</div>

                <h3>Mais alimentos na mesa</h3>

                <p>
                    Suprindo a carência de alimentação
                </p>

            </div>

        </section>

    </main>

</body>

</html>